body {
  background-color: #202020;
  color: #efefef;
}

label {
  color: white;
  width: 10em;
}

button, textarea {
  color: black;
}

.main {
  text-align: center;
  height: 100vh;
  color: #efefef;
  background-color: #202020;
  width: 100%;
}

.header {
  height: 10%;
  font-size: 10vh;
}

.counter {
  height: 90%;
  font-size: 65vh;
}

.message {
  margin: 1em;
  font-size: 20vh;
}

.message-smaller {
  margin: 1em;
  font-size: 10vh;
}

.message-smaller p {
  white-space: pre;
}

.clickable {
  cursor: pointer;
  color: grey;
}

.change-queue {
  padding: 0 0 .15em 0;
  color: black;
  height: 1.2em;
  width: 1.2em;
  line-height: 0em;
  border-radius: 8px;
  background-color: #202020;
  color: #efefef;
}

.change-queue:focus {
  outline: 0;
}

.fullscreen {
  position: absolute;
  bottom: 0;
  right: 0;
}
:fullscreen .no-fullscreen {
  display: none;
}
:-webkit-full-screen .no-fullscreen {
  display: none;
}
:-moz-full-screen .no-fullscreen {
  display: none;
}
:-ms-full-screen .no-fullscreen {
  display: none;
}

.login {
  position: absolute;
  top: 0;
  left: 0;
}
