<div class="main">
  <div class="header">Now Queueing {{#change-queue type="subtract"}}-{{/change-queue}} {{#change-queue type="add"}}+{{/change-queue}}</div>
  <div class="counter">{{model.queue.value.currentPosition}}</div>
</div>
